@use '../../styles/design-system.scss' as *;
.wrap_feed {
  padding: $space-medium;
  border: 2px solid $border-color;
  border-radius: 10px;
  margin-bottom: $space-medium;
  .header_feed {
    display: flex;
    border-bottom: 2px solid $border-color;
    padding: $space-small 0;
    color: $light-gray;
    .category_name {
      flex: 1;
    }
  }
  .info_feed {
    padding: $space-small 0;
  }
  .user_info {
    color: $green;
    padding-right: $space-small;
    margin-right: $space-small;
    border-right: 2px solid $border-color;
  }
  .wrap_contents {
    display: flex;
    width: 100%;
    .created_at {
      color: $light-gray;
      font-size: $font-medium;
    }
  }
  .img_adv {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-right: $space-medium;
  }
  .content_feed {
    flex: 1;
    min-width: 0;
    title {
      @include ellipsis();
      font-weight: $bold;
      margin-bottom: $space-medium;
      font-size: $font-large;
    }
    p {
      @include ellipsis();
      font-size: $font-medium;
    }
  }
  &.detail {
    border-color: $green;
    .created_at {
      margin-top: $space-medium;
    }
  }
  &.advertisement,
  &.detail {
    .content_feed {
      title {
        @include ellipsis($line: 2);
      }
      p {
        @include ellipsis($line: 4);
      }
    }
  }
}
