$green: #00c854;
$light-gray: #d3d3d3;
$gray: #808080;
$white: #ffffff;

$border-color: #dcdcdc;
$border-radius: 15px;

$space-small: 10px;
$space-medium: 15px;
$space-large: 20px;
$space-x-large: 25px;

$bold: 700;
$regular: 400;

$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
$font-x-large: 20px;

$header-height: 70px;

$shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

$tablet-mobile-width: 768px;
