$green: #00c854;
$light-gray: #d3d3d3;
$border-color: #fafafa;
$border-radius: 15px;

$space-small: 10px;
$space-medium: 15px;
$space-large: 20px;

$bold: 700;
$regular: 400;

$font-small: 12px;
$font-medium: 14px;
$font-large: 16px;
